:root{
    background-color: #F6FFF8; /* Color de fondo */
}

:root {
    background-image: url('../images/fondo.png');
    background-size: cover; /* Otras opciones: contain, auto, 100% 100%, etc. */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; /* Centra la imagen */
    height: 100%;
}

:root::before {
    content: '';
    position: fixed; /* Usa fixed o absolute dependiendo de tus necesidades */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.5); /* Blanco con 50% de opacidad */
    z-index: -1; /* Asegúrate de que esté detrás del contenido */
    pointer-events: none; /* Permite que los elementos sobre la capa sean interactivos */
}
/* Estilos para el formulario de inicio de sesión */
.content {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 95vh;
    margin: 0;
}

.form {
    width: 20%;
    padding: 20px;
    background-color: #7EA091;
    border-radius: 5px;
    margin-top: 5em;
    font-family: 'Roboto', sans-serif;
    margin-right: 10%;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}

.form-group input {
    width: 95%;
    height: 2em;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #EAF4F4;
    font-size: large;
    color: #90B6A1;
    margin-top: 0.1em;
    margin-bottom: 0.2em;
    border-color: #F6FFF8;
}

.form-group input::placeholder {
    color: #6B9080;
    font-size: large;
}

.form h2 {
    color: #F6FFF8;
}

.form h4 {
    color: #F6FFF8;
    margin-bottom: 0.4em;
}

.form button[type="submit"] {
    display: block; /* Cambiamos a un elemento de bloque */
    width: 55%;
    height: 3.1em;
    padding: 10px;
    background-color: #F6FFF8;
    border: none;
    color: #000000;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto; /* Centramos horizontalmente */
    font-size:medium;
    margin-bottom: 0.8em;
    margin-top: 1.5em;
}

.form button[type="submit"]:hover {
    background-color: #BDDBD4;
}

/* Estilos para los enlaces */
.form a {
    color: #F6FFF8;
}

.form a:hover {
    color: #4D6E63;
}

.links{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.links a{
    margin-bottom: 0.5em;
}