body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.home-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    height: calc(100vh - 70px); 
    margin-top: 70px; 
}

.home-content {
    max-width: 50%;
    text-align: left;
}

.home-content h1 {
    font-size: 3em;
    margin: 0;
    color: #000; 
}

.home-content h2 {
    font-size: 2.7em;
    margin: 10px 0;
    color: #0e6f30;
}

.home-content p {
    font-size: 1.5em;
    margin: 20px 0;
    color: #000; 
}

.home-content .discover-btn {
    font-weight: 550;
    display: block;
    margin: 50px auto 0 auto; /* Centrado horizontalmente y con margen superior */
    padding: 15px 35px;
    background-color: #548e6e;
    color: #fff;
    text-decoration: none;
    transition: all 0.3s ease 0s;
    font-size: 18px;
    border-radius: 20px; 
    text-align: center;
    width: 200px;
}

.home-content .discover-btn:hover {
    transform : scale(1.1);
}


.home-image {
    max-width: 50%;
    text-align: center;
}

.home-image img {
    width: 100%;
    height: auto;
}
