body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.profile-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centrar horizontalmente */
    background-color: #BDDBD5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    height: 300px; /* Establecer altura deseada */
}



.details {
    top: 0;
    left: 0;
    width: 50%;
}

.statistics {
    top: 0;
    right: 0;
    width: 40%;
}



h1 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: left;
    margin-bottom: 5px;
    font-size: 30px; /* Tamaño de fuente más grande para detalles de usuario */
}

h2 {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #333;
    text-align: left;
    margin-bottom: 10px; /* Incrementar el espacio entre títulos y párrafos */
    font-size: 26px; /* Aumentar el tamaño del título */
    font-weight: bold; /* Hacer el título más audaz */
}

p {
    margin: 10px 0;
    text-align: left; /* Alinear a la izquierda */
}


strong {
    font-weight: bold;
}
