.forum-entry{
    margin-top: 100px;
}

.entry-container {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    background-color: #BFD3C8;
    padding: 2em;
    border-radius: 8px;
}

.entry-content{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Roboto', sans-serif;

}

.entry-title {
    font-size: 1.5em;  
    font-weight: bold;  
    font-family: Arial, sans-serif; 
    margin-bottom: 1em;  
}

.entry-body {
    font-size: 1em;  
    font-family: Georgia, serif;  
}

.entry-author-views{
    display: flex;
    justify-content: space-between;
    font-size: .85em;
}

.entry-answers-votes{
    display: flex;
    flex-direction: row;
    font-size: .85em;
    gap: 1em;
}

.tags{
    display: flex;
    flex-direction: row;
    font-size: .9em;
    gap: .35em;
    margin-top: .2em;
}

.tags div {
    background-color: #F6FFF8;
    padding: .5em;
    border-radius: 5px;
}

.entry-buttons{
    display: flex;
    flex-direction: row;
    margin-top: 2em;
}

.answer-button{
    margin-left: auto;
}

.sorter-answers{
    display: flex;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
}

.sorter-answers p{
    font-size: 1.5em;

}

.sorter{
    margin-left: auto;
}

.forum-entry button {
    background-color: #F6FFF8;
    border: none;
    border-radius: 5px;
    font-family: 'Roboto', sans-serif;
}

.answers {
    display: flex;
    flex-direction: column;
    width: 85%;
    padding: 2em;
    background-color: #BFD3C8;
    margin-left: 8.5%;
    margin-bottom: 1.5em;

}

.upvote, .downvote {
    background-color: #F6FFF8;
    border: none;
    font-family: 'Roboto', sans-serif;
    gap: 1em;
}

.answer-form {
    margin-top: 20px;
    display: flex;
    align-items: center; 
    justify-content: center; 
    padding: 15px;
    border-radius: 8px;
}
.answer-form textarea {
    width: 30%; 
    height: 30px; 
    padding: 5px; 
    border-radius: 5px; 
    font-family: 'Roboto', sans-serif; 
    font-size: .9em; 
    background-color: #def7f1;
    resize: none; 
}

.all-answer {
    margin-top: 20px; 
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.answer {
    background-color: #c7e8d7; 
    padding: 1em;
    margin-bottom: 15px;  
    border-radius: 8px; 
}

.answer-content {
    margin-bottom: 10px; 
}

.answer-body {
    font-family: 'Roboto', sans-serif; 
    font-size: .87em; 
    color: #333; 
}

.answer-data {
    display: flex;
    justify-content: space-between;
    font-size: .85em;
    color: #666;
}

.answer-author-time {
    font-size: .85em;
}



