
.header {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    background-color: #6B9080;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 85px;
    padding: 5px 10%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
}

.header .logo img {
    height: 90px;
    width: auto;
    transition: all 0.3s;
}

.header .logo img:hover{
    transform: scale(1.1);

}
.header .logo{
    cursor: pointer;
    margin-right: auto;
}

.header .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.header .nav-links li a {
    font-weight: 550;
    text-decoration: none;
    color: #F6FFF8;
    font-size: 18px;
    margin-right: 25px;
}

.header .nav-links li a:hover {
    color: #000000;
}

.header .btn button {
    font-weight: 700;
    color: #000000;
    padding: 15px 35px;
    background-color: #F6FFF8;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    font-size: 17px;
    margin-right: 10px;
    margin-left: 5px;
}

.header .btn button:hover {
    background-color: #F6FFF8;
    color: #000000;
    transform : scale(1.1);
}