.main-container {
    margin-top: 90px;
    display: flex;
    flex-direction: row;
}

.main-container .materials-container {
    width: 68%;
    display: flex;
    flex-direction: column;
    padding: 30px;
}

.main-container .materials-container .course-title {
    font-size: 18px;
    font-style: italic;
    padding: 5px;
}

.main-container .materials-container .filters {
    padding: 5px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.main-container .materials-container .filters .filter {
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    justify-content: center;
}

.main-container .materials-container .filters .filter input[type="radio"] {
    cursor: pointer;
    margin-bottom: 3px;
}

.main-container .materials-container .filters .filter input {
    border: 1px solid black;
    padding: 3px;
    border-radius: 10px;
    align-self: center;
    max-width: 140px;
}

.main-container .materials-container .filters .filter label {
    font-family: Arial;
}

.main-container .materials-container .filters .filter .title {
    font-family: Arial;
    font-size: 16px;
    font-weight: bolder;
}

.main-container .materials-container .materials {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    margin-top: 50px;
}

.main-container .materials-container .materials .material {
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 300px;

    align-items: center;
    text-align: center;
}
.main-container .materials-container .materials .material:hover {
    transform: scale(1.05);
    transition: 0.3s;    
}

.main-container .materials-container .materials .material .name {
    font-family: Arial;
    font-size: 16px;
    padding: 10px;
}

.main-container .materials-container .materials .material img {
    width: 170px;
    height: 230px;
    border: solid black 1px;
}

.main-container .upload {
    margin-top: 200px;
    padding: 10px;
    width: 32%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.main-container .upload .title {
    font-family: Arial, sans-serif;
    font-size: 20px;
}

.main-container .upload button:hover {
    background-color: #5B7C74;
    transform: scale(1.05);
    transition: 0.3s;
}

.main-container .upload button {
    width: 100%; /* Ajusta el ancho para hacerlo más pequeño */
    cursor: pointer;
    padding: 15px;
    background-color: #F2F2F2;
    border: none;
    border: 2px solid #6B9080;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: medium;
    margin-top: 20px;
    align-self: center; /* Centra el botón dentro del formulario */
}




