<!DOCTYPE html>
<html lang="en">
    {% load static %}
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/base.css' %}">
        {% load static %}
        <link rel="stylesheet" href="{% static 'styles/nav.css' %}">

        {% block css %} {% endblock %}
        {% block title %} {% endblock %}
    </head>
    <body>
        <header class="header">
            <div class="logo">
                <a href="{% url 'home' %}">
                    {% load static %}
                    <img src="{% static 'images/Logo.png' %}" alt="logo">
                </a>
            </div>
            <nav>
                <a href="{% url 'forums' %}" class="btn"><button>Forum</button></a>
                <a href="{% url 'home' %}" class="btn"><button>Materials</button></a>
                <a href="{% url 'home' %}" class="btn"><button>Profile</button></a>
            </nav>
        </header>
        
        {%block content%}
        {%endblock%}
    </body>
</html>

