{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Forums</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/forums_main.css' %}">
{% endblock %}

{% block content %}
<div class="forums">
    <form action="{% url 'forums' %}" method="post" class="form-new-forum">
        {% csrf_token %}
        <h2 class="form-title">RESUELVE TU DUDA</h2>
    
        <div class="form-group">
            <label for="entry-form-title">Título</label>
            <input id="entry-form-title" name="title" type="text" placeholder="Título">
        </div>
    
        <div class="form-group">
            <label for="entry-form-body">Cuál es tu duda?</label>
            <textarea id="entry-form-body" name="body" type="text"  placeholder="Pregunta"></textarea>
        </div>
    
        <button type="submit">POSTEAR</button>
    </form>
    

    <div class="forums-and-filter">

        <div class="filter">
            <label for="search-title">Filtra por título:</label>
            <input id="search-title" type="text" placeholder="Buscar">
        </div>

        <div id="forums-container" class="forums-container">
            {% for entry in forums %}
            <a id="forum-entry" class="forum-entry" href="{% url 'forum' entry.id %}">
                <div class="entry-data">
                    <div> Votos: +5 </div>
                    <div> Respuestas: 10 </div>
                </div>
                <div class="entry-content">
                    <div class="entry-title"> {{ entry.title }} </div>
                    <div class="entry-body">  {{ entry.body  }} </div>
                </div>  
            </a>        
            {% endfor %}
        </div>  

    </div>
</div>
{% endblock %}


{% block js %}
    <script src="{% static 'js/forums_main.js' %}"></script>
{% endblock %}