{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Forums</title>
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'styles/forum_entry.css' %}">
{% endblock %}

{% block content %}
    <div class="forum-entry" id="entry-data">
        <div id="entry-container" class="entry-container"> 
            <div id="entry-content" class="entry-content">
                
                
                <div id="entry-data" class="entry-data">
                    <div id="entry-title" class="entry-title"></div>
                    <div id="entry-stuff" class="entry-stuff">
                        <div id="entry-author" class="entry-author">
                            <div id="entry-author-views" class="entry-author-views">
                                <div id="entry-author-time" class="entry-author-time">
                                </div>
                            </div>
                        </div>
                        <div id="entry-answers-votes" class="entry-answers-votes">
                            <div id="entry-views" class="entry-views"></div>
                            <div id="entry-answers" class="entry-answers"></div>
                            <div id="entry-votes" class="entry-votes"></div>
                        </div>
                    </div>
                </div>

                <div id="entry-body" class="entry-body"></div>
                
                <div id="entry-buttons" class="entry-buttons">
                    <button id="downvote" class="downvote"> DownVote </button>
                    <span id="votes-counter" class="votes-counter"></span>
                    <button id="upvote" class="upvote"> UpVote </button>
                    <button id="answer-button" class="answer-button"> Responder </button>
                </div>
            </div>
        </div>
        <div id="form-respuesta" hidden>
            <form class="formulario" id="submit-answer" method="post">
                {% csrf_token %}
                <textarea id="answer-text" class="answer-text" name="answer-text" placeholder="Escribe tu respuesta aquí"></textarea>
                <button id="answer-submit" class="answer-submit"> Enviar </button>
            </form>
        </div>
        <div id="sorter-answers" class="sorter-answers">
            <p id="num-answers"></p>
        </div>
        <div id="answer-container" class="answer-container"></div>    
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/forum_entry.js' %}"></script>
    <script src="{% static 'js/entry_answer.js' %}"></script>
    <script src="{% static 'js/entry_votes.js' %}"></script>
{% endblock %}


