{% extends 'base.html' %}

{% block title %}
    <title>Forums</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="forums" id="entry-data" data-entry-id="{{ entry_id }}">
        <h1>Forums</h1>
        <h1>Forums</h1>
        <h1>Este es un test para un foro</h1>
        <div class="forum">
            <h2>General</h2>
            <p>General discussion about anything and everything.</p>
        </div>
        <div class="forum">
            <h2>Python</h2>
            <p>Discussion about the Python programming language.</p>
        </div>
        <div class="forum">
            <h2>JavaScript</h2>
            <p>Discussion about the JavaScript programming language.</p>
        </div>
    </div>
{% endblock %}


{% block json %}



{% endblock %}