{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Forums</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/forums_main.css' %}">
{% endblock %}

{% block content %}
<div class="forums">
    <form action="{% url 'forums' %}" method="post" class="form-new-forum">
        {% csrf_token %}
        <p> RESUELVE TU DUDA </p> 

        <placeholder> Título </placeholder>
        <input type="text" name="title" placeholder="Título">

        <placeholder> Cuál es tu duda? </placeholder>
        <input type="text" name="body" placeholder="Pregunta">

        <button type="submit"> POSTEAR </button>
    </form>

    <div class="forums-container">

        <div class="filter">
            <label for="filter">Filtrar por:</label>
            <input type="text" placeholder="Buscar">
        </div>

        {% for entry in forums %}
        <a class="forum-entry" href="{% url 'forum' entry.id %}">
            <div class="entry-data">
                <div> Votos: +5 </div>
                <div> Respuestas: 10 </div>
            </div>
            <div class="entry-content">
                <div class="entry-title"> {{ entry.title }} </div>
                <div class="entry-body">  {{ entry.body  }} </div>
            </div>
        </a>
        {% endfor %}

    </div>
</div>
{% endblock %}


{% block js %}
{% endblock %}