{% extends 'base.html' %}
{% load static %}

{% block title %}
    <title>Forums</title>
{% endblock %}

{% block css %}
{% endblock %}

{% block content %}
    <div class="forums" id="entry-data">
        <h1>Forums</h1>
        <h1>Forums</h1>
        <h1>Este es un test para un foro</h1>
        <div id="entry" class="entry">
            <h2 id="entry-title"> Titulo de la confesion </h2>
            <div id="entry-stats" class="entry-stats">
                <div id="entry-votes" class="entry-votes">Votos: +5</div>
                <div id="entry-answers" class="entry-answers">Respuestas: 10</div>
                <div id="entry-time" class="entry-time">Subido hace 2 horas</div>
                <div id="entry-viewers" class="entry-viewers">Viewers: 15</div>
            </div>
            <div id="entry-body" class="entry-body">
                <p>Este es el cuerpo de la confesion</p>
            </div>
            <div id="entry-tags" class="entry-tags">
                <div id="entry-tag" class="entry-tag">Tag1</div>
                <div id="entry-tag" class="entry-tag">Tag2</div>
                <div id="entry-tag" class="entry-tag">Tag3</div>
            </div>
            <div id="entry-buttons" class="entry-buttons">
                <button id="entry-vote" class="entry-vote">Votar</button>
                <button id="entry-answer" class="entry-answer">Responder</button>
            </div>
        </div>
        <div id="entry-answer" class="answers">
            <h2>Respuestas</h2>
            <div id="answer" class="answer">
                <div id="answer-stats" class="answer-stats">
                    <div id="answer-votes" class="answer-votes">Votos: +5</div>
                    <div id="answer-time" class="answer-time">Subido hace 2 horas</div>
                </div>
                <div id="answer-body" class="answer-body">
                    <p>Este es el cuerpo de la respuesta</p>
                </div>
                <div id="answer-buttons" class="answer-buttons">
                    <button id="answer-vote" class="answer-vote">Votar</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block js %}
    <script src="{% static 'js/forum_entry.js' %}"></script>
{% endblock %}


