{% extends 'bases/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/base.css' %}">

{% endblock %}

{% block title %}
<title>Forgot your password?</title>
{% endblock %}

{% block content %}
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <h2>Forgot your password?</h2>
        <div class="form-group">
            <input type="text" name="username" id="username" placeholder="username" required>
        </div>
    </form>
    <button type="submit">Help</button>
    <div class="links">
        <a href="/register">Don't have an account?</a>
        <a href="/login">Do you have an account? Log In</a>
    </div>
</div>
{% endblock %}