{% extends 'bases/base.html' %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'styles/home.css' %}">
{% endblock %}

{% block title %}
<title>Bienvenido!</title>
{% endblock %}

{% block content %}
<div class="content">
    <div class="home-section">
        <div class="home-content">
            <h1>MATERIAL A TU ALCANCE</h1>
            <h2>CON MECHON PAUTERO</h2>
            <p>Material de estudio para pautear tus ramos favoritos de la FCFM!</p>
            <p> Ejercicios y controles resueltos recolectado por y para alumnos de primer año de Plan Común.</p>
            <div class="button">
                <a href="{% url 'login' %}" class="discover-btn">DESCÚBRELO</a>
            </div>    
        </div>
        <div class="home image">
            <img src="{% static 'images/homeFinal.png' %}" alt="Imagen">
        </div>
    </div>
</div>
{% endblock %}