{% extends 'bases/base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/login.css' %}">
{% endblock %}

{% block title %}
<title>Login</title>
{% endblock %}

{% block nav %}
    <a href="/login">Login</a>
{% endblock %}

{% block content %}
<div class="form">
    <form method="POST">
        {% csrf_token %}
        <h3>Tu correo</h3>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" name="username" id="username" required>
        </div>
    </form>
    <button type="submit">Help</button>
    <input type="checkbox" name="remember" id="remember"> 
    <label for="remember">Remember me</label>
    <a href="/register">Don't have an account?</a>
    <a href="/forgot-password">Forgot password?</a>
</div>
{% endblock %}