{% extends 'base.html' %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'styles/profile.css' %}">
{% endblock %}

{% block title %}
    <title>Perfil</title>
{% endblock %}

{% block content %}
    <h1>Perfil de "{{estudiante.username}}"</h1>
    <div class="profile-container">
        <div class="details">
            <h2>Detalle del Estudiante</h2>
            <p><strong>Nombre:</strong> {{ estudiante.first_name }} {{ estudiante.last_name }}</p>
            <p><strong>Email:</strong> {{ estudiante.email }}</p>
        </div>
        <div class="statistics">
            <h2>Estadísticas</h2>
            <p><strong>Respuestas Totales:</strong> {{ estudiante.total_answers }}</p>
            <p><strong>Utilidad de las publicaciones:</strong> {{ estudiante.useful_answers }}</p>
            <p><strong>Preguntas Totales:</strong> {{ estudiante.total_questions }}</p>
        </div>
    </div>
{% endblock %}
