{% extends "base.html" %}

{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'styles/material.css' %}"> {% endblock %}
{% block title %} <title> Visualizar material </title>{% endblock %}

{% block content %}
<div class="container">

    {% if material %}
    <div class="material">
        <div class="title"> >{{material.course}} > {{ material.name }} </div>
        <embed src="{{material.file.url}}" type="application/pdf" class="pdf">
    </div>

    <div class="forum">
        <div class="title"> PUBLICA TU DUDA O COMENTARIO </div>
        <textarea class="comentario" id="response"></textarea>
        <button id="response-button"> POSTEAR </button>

        <div class="comments" id="comments">
        </div>

    </div>


    {% else %}
        <div class="not-found"> No se encontró el material solicitado. </div>
    {% endif %}

</div>

{% endblock %}

{% block js %} <script src="{% static 'js/material.js' %}"></script> {% endblock %}
