<!-- templates/home.html -->
{% extends "base.html" %}

{% block title %} <title> Material </title> {% endblock %}

{% load static %}
{% block css %} <link rel="stylesheet" href="{% static 'styles/materials_main.css' %}"> {% endblock %}

{% block content %}
<div class="main-container">

    <div class="materials-container"> 

        <div class="course-title"> > Introducción al cálculo </div>

        <div class="filters">
            <div class="filter" id="checkbox-filters">
                <div class="title"> Tipo: </div>
                <input class="input-radio" id="auxiliar-checkbox" type="radio" onclick="">
                <label for="auxiliar-checkbox"> Auxiliar </label>

                <input class="input-radio" id="control-checkbox" type="radio" onclick="">
                <label for="control-checkbox"> Control </label>

                <input class="input-radio" id="tutoria-checkbox" type="radio" onclick="">
                <label for="tutoria-checkbox"> Tutoría </label>
            </div>

            <div class="filter">
                <div class="title"> Año: </div>
                <input name="year" type="text" class="options" id="year-filter">
            </div>
        </div>

        <div class="materials" id="materials-container">
            {% for material in materials %}
                <div class="material">
                    {% if material.image.url is not null %}
                        <a href="{% url 'specific-material' material.id %}">
                            <img src="{{ material.image.url }}" alt="Material">
                        </a>
                    {% else %}
                        <img alt="Material">
                    {% endif %}

                    <div class="name"> {{ material.name }} </div>
                </div>
            {% endfor %}
        </div>
    </div>


    <div class="upload">
        <div class="title"> ¿QUIERES APORTAR A LA COMUNIDAD DE MECHÓN PAUTERO? </div>
        <a href="{% url 'material_upload' %}" class="btn"><button>SUBIR MATERIAL</button></a>
    </div>
</div>
{% endblock %}

{% load static %}
{% block js %} <script src="{% static 'js/material-filters.js' %}"></script> {% endblock %}
